<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="container">
        <div class="row align-items-center" style="height : 100vh">
            <div class="col-12 text-light mt-4">
                <div class="d-grid gap-2">
                    <h3 style="border-bottom: 1px solid grey">Administración</h3>
                    <a href="/admin/categorias" class="btn text-light" style="background: hsl(228, 28%, 20%)">Categorias</a>
                    <a href="/admin/productos" class="btn text-light" style="background:hsl(228, 28%, 20%)">Productos</a>
                    <a href="/admin/usuarios" class="btn text-light" style="background:hsl(228, 28%, 20%)"  >Usuarios</a>
                    <a href="/admin/empleados" class="btn text-light" style="background:hsl(228, 28%, 20%)">Empleados</a>
                </div>
            </div>
        </div>
    </div>
</div>