<nav class="navbar navbar-expand-lg navbar-light" style="background: black; width: 100%; margin-bottom: 30px">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/" style= "font-family: 'Inter', sans-serif; margin-left: 90px" >San Cristobal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 53%">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/socios">Socios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/blog">Blog</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-light" href="/redes">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body style="background: hsl(230, 17%, 14%)">
  <div class="container">


    
      <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%; ">
        <div class="d-flex flex-row">
            <div>
              <h4 style="margin-bottom:20px">Bodegas San Cristobal</h4>
              <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
                La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
                de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
                Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
                en las provincias de Salta y Jujuy.
                Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
                vida. 
            </div>
            <div>
          <img src="/images/mendoza.jpg">
        </div>
        </div>
        
      </div>

      
      <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%; ">
        <div class="d-flex flex-row">
            <div>
              <h4 style="margin-bottom:20px">Rutas del Vino</h4>
              <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
                La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
                de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
                Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
                en las provincias de Salta y Jujuy.
                Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
                vida. 
            </div>
            <div>
          <img src="/images/uvas.jpg">
        </div>
        </div>
        
      </div>

        <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%; ">
        <div class="d-flex flex-row">
            <div>
              <h4 style="margin-bottom:20px">Cursos de Cata</h4>
              <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
                La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
                de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
                Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
                en las provincias de Salta y Jujuy.
                Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
                vida. 
            </div>
            <div>
          <img src="/images/bode2.jpg">
        </div>
        </div>
        
      </div>

        <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%; ">
        <div class="d-flex flex-row">
            <div>
              <h4 style="margin-bottom:20px">Conocé nuestra Historia</h4>
              <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
                La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
                de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
                Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
                en las provincias de Salta y Jujuy.
                Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
                vida. 
            </div>
            <div>
          <img src="/images/casavino.jpg">
        </div>
        </div>
        
      </div>




  </div>

  
      <div class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom:50px">
        <a href="/blog"><i style="color:hsl(163, 72%, 41%)"; class="fas fa-arrow-circle-up fa-3x"></i></a>
        <a href="/blog" style="color:hsl(163, 72%, 41%); text-decoration: none">BLOG</a>
      </div>
    



  <footer style="padding:20px; background: black">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="text-light">San Cristobal</h4>
          <p class="text-secondary">100 años haciendo historia</p>
        </div>
        <div>
            <div class="d-flex justify-content-between" style="width:150px; margin-bottom:10px">  
              <a><i class="fab fa-facebook text-light"></i></a>
              <a><i class="fab fa-twitter text-light"></i></a>
              <a><i class="fab fa-instagram text-light"></i></a>
              <a><i class="fab fa-youtube text-light"></i></a>
           </div>
           <p class="text-secondary">Contactanos por redes</p>
        </div>

        </div>
     
      </div>
     
    </footer>
</body>