<nav class="navbar navbar-expand-lg navbar-light" style="background: black; width: 100%; margin-bottom: 30px">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/" style= "font-family: 'Inter', sans-serif; margin-left: 90px" >San Cristobal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 53%">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/socios">Socios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/blog">Blog</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-light" href="/redes">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body style="background: hsl(230, 17%, 14%)">
  <div class="container">
   
    <div>
      <div class="lite mt-4" style="padding:10px">
         <h3 class="text-light" style="padding:10px; font-family: 'Inter', sans-serif; border-bottom: 1px solid grey; "> Notas San Cristobal </h3>
       <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%">
        <div class="d-flex flex-column">
          <h4 style="margin-bottom:20px">Bodegas San Cristobal</h4>
          <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
            La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
            de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
            Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
            en las provincias de Salta y Jujuy.
            Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
            vida.
        </div>
        <div>
          <p class="text-light" style="font-family: 'Inter', sans-serif">Juan Gomez - Experto en vinos</p>
          <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star"></i>
          
        </div>
      </div>
    </div>
    <div class="lite mt-4" style="padding:10px">
       <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%">
        <div class="d-flex flex-column">
          <h4 style="margin-bottom:20px">La Ruta del Vino</h4>
          <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
            La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
            de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
            Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
            en las provincias de Salta y Jujuy.
            Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
            vida.
            La bodega se encuentra en un amplio paisaje con montañas, fauna y flora salvaje que hace que los comensales, no solo tenga una experiencia
            culinaria excelente, sino que también puedan disfrutar de los mejores paisajes y experiencias que un turista en Mendoza pueda disfrutar.
            A lo largo de los años encontrarán muchas bodegas excelentes en Mendoza, pero hay algo que nos distingue a nosotros, y es el poder encontrar
            las mejores uvas de la región sumado a ese sabor artesanal que cualquiera puede disfrutar.
        </div>
        <div>
          <p class="text-light" style="font-family: 'Inter', sans-serif">Martín Martinez - Guía Turistico</p>
           <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
        </div>
      </div>
    </div>
    <div class="lite mt-4" style="padding:10px">
       <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%">
        <div class="d-flex flex-column">
          <h4 style="margin-bottom:20px">Comidas típicas de la región</h4>
          <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
            La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
            de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
            Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
            en las provincias de Salta y Jujuy.
            Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
            vida.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus earum deleniti natus rem obcaecati cumque corporis veritatis explicabo. Officiis nisi pariatur quo velit ullam iusto minus minima explicabo illo quam.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam asperiores omnis quasi, dicta tempore quos voluptas voluptates quam harum voluptatibus nesciunt repellendus molestias? Veniam aliquam inventore hic distinctio harum tenetur?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae qui, nam quia nihil suscipit aperiam nisi odio corporis rem modi deserunt assumenda, deleniti vel commodi cupiditate unde provident fugiat sequi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptatum ex doloribus nemo itaque molestias ducimus cumque cupiditate non, velit sed hic voluptates. Fugiat, laborum tenetur placeat labore consequuntur atque!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam quia corporis dolore, obcaecati autem ratione laborum perspiciatis sequi, harum expedita, ad tenetur a? Quidem pariatur vel ullam expedita impedit praesentium?
          
        </div>
        <div>
          <p class="text-light" style="font-family: 'Inter', sans-serif">Cristiano Ronaldo - Periodista</p>
                   <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star"></i>
        </div>
      </div>
    </div>
    </div>


  </div>
  <footer style="padding:20px; background: black">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="text-light">San Cristobal</h4>
          <p class="text-secondary">100 años haciendo historia</p>
        </div>
        <div>
            <div class="d-flex justify-content-between" style="width:150px; margin-bottom:10px">  
              <a><i class="fab fa-facebook text-light"></i></a>
              <a><i class="fab fa-twitter text-light"></i></a>
              <a><i class="fab fa-instagram text-light"></i></a>
              <a><i class="fab fa-youtube text-light"></i></a>
           </div>
           <p class="text-secondary">Contactanos por redes</p>
        </div>

        </div>
     
      </div>
     
    </footer>
</body>