<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-7 text-light">
            <form method="post" action="/admin/usuarios/create">
                <h3 style="border-bottom: 1px solid grey">Crear Usuarios</h3>
                <div class="form-group">
                    <label for="username">Nombre<span class="text-danger"></span></label>
                    <input type="username" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="mail">Mail<span class="text-danger"></span></label>
                    <input type="text" class="form-control" name="mail" id="mail">
                </div>
                 <div class="form-group">
                    <label for="telefono">Telefono<span class="text-danger"></span></label>
                    <input type="number" class="form-control" name="telefono" id="telefono">
                </div>
                
                <div class="d-grid gap-2">
                    <button type="submit" class="btn mt-3 text-light" style="background:hsl(228, 28%, 20%)">Agregar Usuario</button>
                </div>
            </form>
        </div>

    </div>
</div>