<body style="background: hsl(230, 17%, 14%)">
  <div style="padding:100px">
    <h2 class="text-secondary" style="margin-bottom: 50px"style="margin-bottom: 50px"style="margin-bottom: 50px"> PÁGINA NO HABILITADA</h2>
    <i class="fas fa-cat fa-3x text-light" style="margin-bottom: 50px">ERROR</i>
    <a href="/login"><button type="button" class="text-light btn" style="background:hsl(228, 28%, 20%); width: 100%" >LOGIN</button></a>
  </div>

</body>