<body style="background: hsl(230, 17%, 14%)">
  <div class="d-flex justify-content-center align-items-center" style="margin-top:100px">
    <img src="/images/404.png" style="width:500px">
  </div>
  <a class="d-flex justify-content-center align-items-center" style="text-decoration:none" href="/login"> <button type="submit" class="btn mt-3 text-light"style="background:hsl(228, 28%, 20%)">Volver a Login</button></a>

</body>