
<body style="background: hsl(230, 17%, 14%)">
      <nav class="navbar navbar-expand-lg navbar-light" style="background: black; width: 100%; margin-bottom: 30px">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#" style= "font-family: 'Inter', sans-serif; margin-left: 90px" >San Cristobal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 53%">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/socios">Socios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/blog">Blog</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-light" href="/redes">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="big-boxes" style="margin-bottom: 20px; padding: 10px">
    <div class=" box box-fb d-flex flex-column justify-content-center align-items-center text-light" style="background:hsl(228, 28%, 20%)" >
      <div class="d-flex flex-row">
        <p class="text-secondary" style="margin-right:5px">SC</p>
        <a><i class="fab fa-facebook text-primary"></i></a>
      </div>
      <h3>VINOS</h3>
      <p class="text-secondary" style="letter-spacing: 3px">Productos</p>
      <a href="/productos" style="color:hsl(163, 72%, 41%); text-decoration:none"><i class="fas fa-caret-up" style="margin-right: 5px"></i>Ver Más</a>
    </div>
    <div class="box box-fb d-flex flex-column justify-content-center align-items-center text-light" style="background:hsl(228, 28%, 20%)" >
      <div class="d-flex flex-row">
        <p class="text-secondary" style="margin-right:5px">SC</p>
        <a><i class="fab fa-twitter text-primary"></i></a>
      </div>
      <h3>SOCIOS</h3>
      <p class="text-secondary" style="letter-spacing: 3px">Comunidad</p>
      <a href="/socios" style="color:hsl(163, 72%, 41%); text-decoration:none"><i class="fas fa-caret-up" style="margin-right: 5px"></i>Ver Más</a>
    </div>

     <div class="box box-ig d-flex flex-column justify-content-center align-items-center text-light" style="background:hsl(228, 28%, 20%)" >
      <div class="d-flex flex-row">
        <p class="text-secondary" style="margin-right:5px">SC</p>
        <a><i class="fab fa-instagram text-warning"></i></a>
      </div>
      <h3>BLOG</h3>
      <p class="text-secondary" style="letter-spacing: 3px">Experiencias</p>
      <a href="/blog" style="color:hsl(163, 72%, 41%); text-decoration:none"><i class="fas fa-caret-up" style="margin-right: 5px"></i>Ver Más</a>
    </div>

    <div class="box box-yt d-flex flex-column justify-content-center align-items-center text-light" style="background:hsl(228, 28%, 20%)" >
      <div class="d-flex flex-row">
        <p class="text-secondary" style="margin-right:5px">SC</p>
        <a><i class="fab fa-youtube text-danger"></i></a>
      </div>
      <h3>REDES</h3>
      <p class="text-secondary" style="letter-spacing: 3px">Referencias</p>
      <a href="/redes" style="color:hsl(163, 72%, 41%); text-decoration:none"><i class="fas fa-caret-up" style="margin-right: 5px"></i>Ver Más</a>
    </div>
  </div>

  
    <div class="title-box" style="padding: 10px">
      <h5 class="text-light">Numeros</h5>
    </div>
    <div class="comments-one" style="padding: 10px">
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Campeonatos</p>
          <i class="fas fa-medal text-warning"></i>
        </div>
          <h2 class="text-light">35</h2>
      </div>
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Vinos</p>
          <i class="fas fa-wine-glass-alt text-danger"></i>
        </div>
          <h2 class="text-light">8</h2>
      </div>
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Sucursales</p>
          <i class="fas fa-map-marker-alt text-primary"></i>
        </div>
          <h2 class="text-light">15</h2>
      </div>
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Paises</p>
          <i class="fas fa-globe-americas text-success"></i>
        </div>
          <h2 class="text-light">8</h2>
      </div>
    </div>

    <div class="comments-two" style="padding:10px">
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Visitas Guiadas</p>
          <i class="fas fa-chalkboard-teacher text-primary"></i>
        </div>
          <h2 class="text-light">2500</h2>
      </div>
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Cursos de Cata</p>
          <i class="fas fa-wine-glass-alt text-danger"></i>
        </div>
          <h2 class="text-white">1200</h2>
      </div>
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Empleados</p>
          <i class="fas fa-sitemap text-warning"></i>
        </div>
          <h2 class="text-light">800</h2>
      </div>
      <div class="box-comments" style="background:hsl(228, 28%, 20%); padding: 20px; margin-bottom:25px">
        <div class="d-flex justify-content-between align-items-between">
          <p class="text-secondary">Viñedos</p>
          <i class="fas fa-mountain text-success"></i>
        </div>
          <h2 class="text-light">1000 hc</h2>
      </div>
    </div>

    <div class="lite mt-4" style="padding:10px ">
       <div class="text-light" style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%; ">
        <div class="d-flex flex-column">
          <h4 style="margin-bottom:20px">Bodegas San Cristobal</h4>
          <p class="text-secondary" style="letter-spacing: 1px; font-family: 'Inter', sans-serif; ">Bodegas San Cristobal, es una de las empresas más importantes en la fabricación de vinos y todos los derivados que se pueden tener de la uva.
            La empresa nació con la familia Vallejos y se desempeño como una de las marcas líderedes en todo el país, y ahora comercializando en otros Paises
            de la región. Si querés conocer más sobre las bodegas, podes venir a una de nuestras tantas visitas guiadas.
            Las bodegas las podes encontrar en toda la región cuyana, como Mendoza, San Juan y también en el norte argentino
            en las provincias de Salta y Jujuy.
            Cada vino tiene una historia, y nuestra bodega se encarga de poder hacer nuevas, pudiendo ser parte de tu experiencia y de tu 
            vida. <a href="/blog" style="color:hsl(163, 72%, 41%); text-decoration:none"><i class="fas fa-caret-up" style="margin-right: 5px"></i>Ver Más</a></p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-between" style="margin-bottom: 50px; padding:10px">
      <div class="lite" style="background:hsl(228, 28%, 20%); padding: 20px; border-radius:25px; width: 40%">
        <h4 class="text-light">La Ruta del Vino</h4>
        <p class="text-secondary">Una de las experiencias más encantadoras que tenemos es conocer la Ruta del Vino, como no solo queremos que conozcas 
          nuestra Bodega, te llevaremos a las mejores de toda Mendoza, donde entendemos que ellos no son nuestros competidores, sino
          que son compañeros y socios en este gran mercado y cada uno se distingue por el sabor y 
          procedimiento de su producto  <a href="/blog" style="color:hsl(163, 72%, 41%); text-decoration:none"><i class="fas fa-caret-up" style="margin-right: 5px"></i>Ver Más</a></p>
      </div>
       <div class="lite" style="background:hsl(228, 28%, 20%); padding: 20px; border-radius:25px; width: 40%">
        <h4 class="text-light">Comidas típicas de la región</h4>
        <p class="text-secondary">Una de las experiencias más encantadoras que tenemos es conocer la Ruta del Vino, como no solo queremos que conozcas 
          nuestra Bodega, te llevaremos a las mejores de toda Mendoza, donde entendemos que ellos no son nuestros competidores, sino
          que son compañeros y socios en este gran mercado y cada uno se distingue por el sabor y 
          procedimiento de su producto  <a href="/blog" style="color:hsl(163, 72%, 41%); text-decoration:none"><i class="fas fa-caret-up" style="margin-right: 5px"></i>Ver Más</a></p>
      </div>
    </div>

    
      <div class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom:50px">
        <a href="/"><i style="color:hsl(163, 72%, 41%)"; class="fas fa-arrow-circle-up fa-3x"></i></a>
      </div>
    
 
  
    
    <footer style="padding:20px; background: black">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="text-light" style= "font-family: 'Inter', sans-serif">San Cristobal</h4>
                     <p class="text-secondary" style= "font-family: 'Inter', sans-serif">100 años haciendo historia</p>
        </div>
        <div>
            <div class="d-flex justify-content-between" style="width:150px; margin-bottom:10px">  
              <a href="https://www.facebook.com/"><i class="fab fa-facebook text-light"></i></a>
              <a href="https://www.twitter.com/"><i class="fab fa-twitter text-light"></i></a>
              <a href="https://www.instagram.com"><i class="fab fa-instagram text-light"></i></a>
              <a href="https://www.youtube.com"><i class="fab fa-youtube text-light"></i></a>
           </div>
           <p class="text-secondary" style= "font-family: 'Inter', sans-serif">Contactanos por redes</p>
        </div>

        </div>
     
      </div>
     
    </footer>
    
     
    


</body>






