<body>
    <div class="container-fluid m-0" style="height : 100; background: hsl(230, 17%, 14%)">
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-7 text-light mt-3">
              <h4>Bodegas San Cristobal</h4>
                <h5 class="text-secondary">Ingrese sus Datos</h5>
            <form method="post" action="/login">
                <div class="form-group">
                    <label for="username">Nombre de usuario<span class="text-danger"></span></label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña<span class="text-danger"></span></label>
                    <input type="password" class="form-control" name="pass" id="pass">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="text-light btn mt-3" style="background:hsl(228, 28%, 20%)">Iniciar sesion</button>
                    <a href="/registro"><button type="button" class="text-light btn" style="background:hsl(228, 28%, 20%); width: 100%"  >Registrate</button></a>
                </div>
            </form>
            <p class="text-danger text-center mt-3">{{message}}</p>
        </div>

    </div>
</div>
</body>
