

<body style="background:hsl(230, 17%, 14%)"> 
  <h2 class="text-light" style="padding:50px; ">Accede a tu Producto</h2>
  <div class="container">
    <div class="card " style="width: 18rem; background:hsl(228, 28%, 20%); margin-top: 100px; margin-left: 400px;">
  <div class="card-body"; style="border-top: 3px solid grey ">
    <h5 class="card-title"> <p class="text-light">Vino {{producto.nombre}}</p></h5>
    <p class="card-text"><p class="text-light">Precio $ {{producto.precio}}</p></p>
    <p class="card-text"><p class="text-light">{{producto.descripcion}}</p></p>
    <a href="/productos"><button type="button" class="btn" style="background: hsl(163, 72%, 41%)">Volver</button></a>
  </div>
</div>

  </div>
  
</body>
  


