<nav class="navbar navbar-expand-lg navbar-light" style="background: black; width: 100%; margin-bottom: 30px">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/" style= "font-family: 'Inter', sans-serif; margin-left: 90px" >San Cristobal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 53%">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Socios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/blog">Blog</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-light" href="/redes">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body style="background: hsl(230, 17%, 14%)">
  <div class="container" >
   
    <div>
      <div class="lite mt-4" style="padding:10px">
         <h3 class="text-light" style="padding:10px; font-family: 'Inter', sans-serif; "> Redes Sociales </h3>
         <p class="text-secondary" style=" border-bottom: 1px solid grey; padding:10px"> Hace click y contactate con nosotros</p>
       <div class="text-light " style="background:hsl(228, 28%, 20%); padding:20px; margin-bottom:25px; border-radius:25px; width: 100%; margin-top:150px">
       



        <div class="d-flex justify-content-around">
             <a href="https://www.facebook.com/"><i class="fab fa-facebook text-primary"></i></a>
              <a href="https://www.twitter.com/"><i class="fab fa-twitter text-primary"></i></a>
              <a href="https://www.instagram.com"><i class="fab fa-instagram text-warning"></i></a>
              <a href="https://www.youtube.com"><i class="fab fa-youtube text-danger"></i></a>
        </div>
      </div>
    </div>
  </div>


</body>